<div class="alert alert-info">
  Перед загрузкой релизного файла необходимо упаковать его в zip архив. В случае упаковки в архив нескольких файлов они будут загружаться
  в BMC Remedy в следующем порядке:
    <li>файл в названии которого имеется слово form</li>
    <li>все остальные в случайном порядке</li>
</div>
<form>
  <fieldset>
    <legend>Заполните форму</legend>
    <label>Краткое описание</label>
    <input type="text" placeholder="До 50 символов" ng-model="short_description">
    <label>Развернутое описание</label>
    <textarea rows="3" ng-model="description"></textarea>
    <label>Дата релиза</label>
    <input type="text" id="date" ng-model="date" datetimepicker />
    <div nv-file-drop="" uploader="uploader" options="{ url: '/api/release/' }" class="well my-drop-zone" ng-hide="uploader.queue[0]">
            Перетащите релизный файл в эту область
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="automatically"> Провести автоматически
        </label>
        <!--
        <label>
            <input type="checkbox"> Сделать бэкапы
        </label>
        -->
    </div>
    <label ng-show="uploader.queue[0]">{{ uploader.queue[0].file.name }}</label>
    <button type="submit" class="btn" ng-click="createRelease()" >Создать</button>
  </fieldset>
</form>

