<ul class="nav nav-tabs" ng-init="selectedTab = 'main'">
    <li ng-class="{'active': selectedTab === 'main'}">
        <a ng-click="selectedTab = 'main'">Общая информация</a>
    </li>
    <li ng-class="{'active': selectedTab === 'detail'}">
        <a ng-click="selectedTab = 'detail'">Подробное описание</a>
    </li>
</ul>

<div ng-show="selectedTab == 'main'">
    <a href="{{ detail.def_file }}">Скачать релизный файл</a>
    <div>
     <h5>Инициатор</h5>
        {{ detail.owner_fullname }}
    </div>
    <div>
      <h5>Краткое описание</h5>
        {{ detail.short_description }}
    </div>
    <div>
      <h5>Дата релиза</h5>
        {{ detail.release_date | date:'HH:mm dd.MM' }}
    </div>
    <div>
      <h5>Статус</h5>
        {{ to_translate(detail.status) }}
    </div>
</div>

<div ng-show="selectedTab == 'detail'" ng-bind-html="detail.description | nl2br">
</div>