<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>Инициатор</th>
        <th>Краткое описание</th>
        <th>Дата</th>
        <th>Статус</th>
    </tr>
    <tr ng-repeat="release in list | orderBy:'-release_date'" ng-class="set_class(release.status)">
        <td><a href="#/release/{{ release.id }}">{{ release.id }}</a></td>
        <td>{{ release.owner_fullname }}</td>
        <td>{{ release.short_description }}</td>
        <td>{{ release.release_date | date:'HH:mm dd.MM' }}</td>
        <td>{{ to_translate(release.status) }}</td>
    </tr>
</table>