<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Пользователь</label>
    <input ng-model="username" type="username" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Пароль</label>
    <input ng-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button ng-click="auth()" type="submit" class="btn btn-default">Войти</button>
</form>