<html ng-app="ReleaseApp" xmlns="http://www.w3.org/1999/html">
<head lang="ru">
    <meta charset="UTF-8">

    <script src="//code.angularjs.org/1.3.1/angular.min.js"></script>
    <script src="//code.angularjs.org/1.3.1/angular-resource.min.js"></script>
    <script src="//code.angularjs.org/1.3.1/angular-cookies.min.js"></script>
    <script src="//code.angularjs.org/1.3.1/angular-route.js"></script>

    <script src="/static/js/angular-file-upload.min.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.datetimepicker.js"></script>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
    <title></title>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
        <script>
            window.user = {username: '{{ user.username }}'};
        </script>
    {% else %}
        <script>
            window.user = {username: 'AnonymousUser'};
        </script>
    {% endif %}

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">СКУФ Релизы</a>
          <div class="nav-collapse collapse" ng-controller="HeaderController">
            <ul class="nav">
              <li ng-class="{ active: isActive('/')}"><a href="#/">Список</a></li>
              <li ng-class="{ active: isActive('/create')}"><a href="#/create">Запланировать релиз</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12"  ng-view></div>
         </div>
    </div>
    <script src="/static/app/app.js"></script>
    <script src="/static/app/auth.js"></script>
    <script src="/static/app/services.js"></script>
    <script src="/static/app/list.controller.js"></script>
    <script src="/static/app/create.controller.js"></script>
    <script src="/static/app/detail.controller.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>